<div class="page">
  <!-- Top bar -->
  <div class="top-bar">
    <span class="logo">DataShare</span>
     <button class="top-btn" routerLink="/dashboard">mon espace</button>
    <button class="top-btn" routerLink="/login">Se connecter</button>
  </div>

  <!-- Upload Card -->
  <div class="card upload-form">
    <h2>Ajouter un fichier</h2>

    <!-- Form upload -->
    <form *ngIf="!uploadedFile" (ngSubmit)="uploadFile()">
      <div class="file-upload-area">
        <label class="file-label" *ngIf="!selectedFile">
          Choisir un fichier
          <input type="file" (change)="onFileSelected($event)">
        </label>

        <div *ngIf="selectedFile" class="file-info">
          <span class="addIcon">
            <i class="fa-regular fa-file-image"></i>
            <div>
              {{ selectedFile.name }}
              <br>
              {{ formatSize(selectedFile.size) }}
            </div>
          </span>
          <button type="button" class="change-btn" (click)="removeFile()">Changer</button>
        </div>

        <div class="error" *ngIf="fileError">{{ fileError }}</div>
      </div>
      <label>Mot de passe</label>
      <input class="passwordOptionnel" type="password" name="password" placeholder="    Optionnel">
     <label>Expiration</label>
     
      <select [(ngModel)]="expiration" name="expiration">
        <option [value]="1">Une journée</option>
        <option [value]="3">3 jours</option>
        <option [value]="7">7 jours</option>
      </select>
      <button class="img_televerser" type="submit">
        <img src="televerser2.png" alt="televerser" class="upload-icon">
      </button>
    </form>
    <!-- Messaggio upload completato -->
    <div *ngIf="uploadedFile" class="upload-success">
      <div class="icon_succes">
        <i class="fa-regular fa-file-image"></i>
        <p>{{ uploadedFile.fileName }}</p>
      </div>
      <p>
        Félicitations, ton fichier sera conservé chez nous pendant
        {{ getExpirationLabelFromDate(uploadedFile.expiresAt) }} !
      </p>
      <a *ngIf="uploadedFile" [href]="downloadUrl" target="_blank" class="download-link">
        https://datashare.fr/UhGyr
      </a>
      <div class="button-low">
        <i class="fa-regular fa-copy"></i>
        <button (click)="copyLink()">Copier le lien</button>
      </div>
    </div>
  </div>
</div>